* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  justify-content: center;
}

.header a {
  text-decoration: none;
}

.header h1 {
  margin-left: 50px;
}

span {
  cursor: pointer;
  text-align: end;
  margin-right: 27px;
}

.space {
  display: flex;
  justify-content: space-around;
}

.btn-1 {
  box-shadow: 4px 7px 4px 0 #000;
  border: 1px solid #000;
}

.btn-container {
  text-align: center;
}

li {
  list-style-type: none;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.popup-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  column-gap: 16px;
}

.subtitles {
  display: grid;
  grid-template-columns: 1fr;
}

.subtitles-container {
  display: grid;
  grid-template-columns: repeat(2 1fr);
}

.comments-container {
  display: grid;
  justify-content: center;
}

form.needs-validation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  text-align: center;
}

.add-container h3 {
  text-align: center;
}

.btn-submit {
  text-align: center;
}

.input-container {
  margin: 12px;
}

span {
  float: right;
}

@media only screen and (max-width: 768px) {
  .popup-image {
    grid-template-columns: 1fr;
    width: 100%;
  }

  img#staticBackdropLabel {
    width: 100%;
  }
}
