* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  justify-content: center;
}

.header a {
  text-decoration: none;
}

.header h1 {
  border: 2px solid red;
  margin-left: 50px;
}
