* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  justify-content: center;
}

.header a {
  text-decoration: none;
}

.header h1 {
  margin-left: 50px;
}

.like {
  cursor: pointer;
  text-align: end;
  margin-right: 27px;
}

.space {
  display: flex;
  justify-content: space-around;
}

.btn-1 {
  box-shadow: 4px 7px 4px 0 #000;
  border: 1px solid #000;
}

.btn-container {
  text-align: center;
}

li {
  list-style-type: none;
}
